.wide img{
	width: 100vw;
}
#blessing p {
	text-align: center;
	font-family: "Comic Sans MS";
	color: 	#F08080;
}
.images {
	background-color: #FFCCCC;
	margin: 5px;
	border-radius: 25px;
	text-align: center;
	height: 60vh;
	width: 90vw;
}
.images img{
	image-orientation: from-image;
	display: inline-block;
	max-height: 60vh;
	max-width: 90vw;
}
.holder {
	display: inline-block;
	vertical-align:middle;
	text-align:center;
}
img{
	text-align: center;
}
.footer {
	//position: fixed;
	width: 100vw;
	left: 0;
	bottom: 0;
	width: 100%;
	//background-color: #FFC0CB;
	background-color: #FFCCCC;
	color: white;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
audio {
	display: none;
}
.my-img .holder {
	display: none;
}
.my-img .holder:first-child {
	display: block;
}
.my-img.slick-initialized .holder {
	display: block;
}
