.wide img{
	width: 100%;
}
.images {
	max-height: 50vh;
	text-align: center;
	margin-bottom: 20%;
}
.holder {
	display: inline-block;
	vertical-align:middle;
	text-align:center;
	border: 5px solid blue;
}
img{
	text-align: center;
}
#header-img{
	padding: 50px;
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FFC0CB;
	color: white;
	padding-top: 15px;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}
audio {
	display: none;
}
